.heroContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.itemDiv {
    display: flex;
    flex-direction: row;
}

.firstNameDiv {
    transform: scale(1.3,1);
}

.heroTextFirstName {
    display: inline-block;
    background-image: linear-gradient(90deg, #000000 0%, var(--dark-green) 15%, var(--light-green) 50%, var(--pale-green) 90%, #e8e8e8 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 120px;
}

.lastNameDiv {
    transform: translateX(130px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

}

.heroTextLastName {
    color: var(--pale-green);
    margin: 0;
    font-size: 35px;
    transform: scale(1.6,1.3);
    letter-spacing: -3px;
}

.profileDiv {
    position: relative;
    transform: translateX(-70px);
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileDiv img {
    width: 100px;
    height: 100px;
    z-index: 1000;
    border-radius: 100%;
}

.profileBackground {
    position: absolute;
    width: 300px;
    height: 300px;
    background-image: radial-gradient(var(--light-green) 0%, #000000 70%);
    z-index: 1;
    border-radius: 100%;
    filter: blur(10px);
}

.loaderRing {
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: conic-gradient(
        black 0deg,
        green 180deg,
        black 360deg
    );
    -webkit-mask: radial-gradient(transparent 50px, #ffffff 50px);
    mask: radial-gradient(transparent 50px, #ffffff 50px);
    z-index: 1001;
    animation: spin 4s ease-in-out infinite;
    filter: blur(10px);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    
    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);    
    }
}

.heroTextContainer  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.textBox {
    max-width: 1000px;
    text-align: center;
    margin-bottom: 10vh;
}

.storyLargeTextContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.storyLargeText {
    font-size: 23vw;
    transform: scaleX(1.3);
    max-width: 100vw;
    text-shadow: -2px -2px 0 green, 2px -2px 0 green, -2px 2px 0 green, 2px 2px 0 green;
    color: black;
    -webkit-mask-image: linear-gradient(180deg, black 15%, transparent 85%);
    mask-image: linear-gradient(180deg, black 15%, transparent 85%);

}

.experienceImageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.experienceImageContainer img {
    width: 25vw;
    height: 25vw;
    border-radius: 14px;
}

.gradientBlob {
    position: absolute;
    width: 600px;
    height: 400px;
    background-image: radial-gradient(var(--light-green) 0%, transparent 80%);
    transform: translateY(-80px);
    opacity: 0.4;
    z-index: 50;
}
.storyImage {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
}

.storyImageContainer {
    position: relative;
    width: 80%;
    overflow: hidden;
}

.storyImageTop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: transform 0.5s ease, filter 0.5s ease;
}


.imageOverlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba( 0, 0, 0, 0.8); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    opacity: 0;
    transition: opacity 0.5s ease;
}


.imageTitle {
    max-width: 50vw;
    text-align: center;
    color: white;
    font-size: 5vh;
    margin-bottom: 1rem;
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transition-delay: 0.1s; 
    margin: 0;
    padding-bottom: 5vh;
}

.imageButton {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    max-width: 80%;
    transform: translateY(20px);
    width: 180px;
    height: 50px;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transition-delay: 0.2s;
}

.storyImageContainer:hover .storyImageTop {
    transform: scale(1.05);
    filter: blur(2px);
}

.storyImageContainer:hover .imageOverlay {
    opacity: 1;
}

.storyImageContainer:hover .imageTitle,
.storyImageContainer:hover .imageButton {
    transform: translateY(0);
    opacity: 1;
}

.storyImageContainerSmall {
    position: relative;
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}

.storyImageTopSmall {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.experienceContainer {
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100vw;   
}

.experienceContainer img {
    width: 80vw;
    height: auto;
    border-radius: 14px;
}


@media only screen and (max-width: 1280px){
.heroTextFirstName {
    font-size: 90px;
}

.heroTextLastName {
    font-size: 35px;
    transform: translateX(-60px);
    line-height: 1;
}

.textBox {
    max-width: 700px;
}

p {
    font-size: 20px;
}

h3 {
    font-size: 35px;
}

}