@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', Helvetica, sans-serif;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
}

@theme {
  --animate-spinner: spinner 5s ease-in-out infinite;
  @keyframes spinner {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)};
  }
}