.button {
    width: 120px;
    height: 50px;
    font-size: 22px;
    margin: 5vh;
    position: fixed;
    z-index: 1000;
}


@media only screen and (max-width: 1280px) {
    .button {
        width: 100px;
        height: 40px;
        font-size: 18px;
    }
}